.App {
  font-family: sans-serif;
  text-align: center;
}

.app__enterName {
  display: flex !important;
  flex-direction: row !important;
}
.app__form {
  padding: 20px;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 9;
  display: flex !important;
  flex-direction: row !important;
}
.app__inputForm {
  flex: 1;
}
.app__sendIcon {
  flex: 0;
}
